<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--
            Set this to your Mailchimp API key for testing
            See http://kb.mailchimp.com/article/where-can-i-find-my-api-key
            for help finding your API key
        -->
        <add key="API_Key" value="yourapikeyhere-us2"/>
    </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
